<head>
    <meta charset="utf-8">
    <title>CrowdAid</title>
    <meta name="description" content="Let everyone volunteer no matter how little he can give.">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
    <link rel="shortcut icon" type="image/png" href="favicon.png?v1" sizes="16x16 32x32 64x64">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-precomposed.png">
</head>

<body>
<div class="fullHeight">
  <h1 class="link" data-target="admin">
   Admin Interface
  </h1>
  <h1 class="link" data-target="organization">
  Organization Interface
  </h1>
</div>
</body>
